<a class="btn btn-success js-filter-off" id="searchShow{{item_id}}" data-type="json" data-remote="true" rel="nofollow"
   data-item="{{item_id}}"
   data-method="delete" href="/black_lists/{{id}}">{{i18n_t 'remove_blacklist'}}</a>
