<a class="btn btn-warning js-filter-on" id="searchHide{{item_id}}" data-type="json" data-remote="true"
   data-item="{{item_id}}"
   rel="nofollow" data-method="post" href="/black_lists?item_id={{item_id}}">{{i18n_t 'add_blacklist'}}</a>
