<div class="panel panel-default search-grid">
  <div class="panel-heading">
    <a href="/items/{{data.id}}">{{data.title}}</a>
  </div>
  <div class="panel-body">
    <img src="{{data.image_medium}}" alt="item picture">
    <span class="ml-2">
      {{data.description}}
    </span>
  </div>
  <div class="panel-footer"></div>
</div>
